<h1 class="yellow-text text-darken-4"><%= t("title.article") %></h1>

<div class="row">
  <% @posts.each do |post| %>
    <%= render 'posts/post', {post: post} %>
  <% end %>
</div>

<h1 class="yellow-text text-darken-4"><%= t("title.news") %></h1>

<div class="row">
  <% @content['articles'].each do |article| %>
    <%= render "news/new", {article: article} %>
  <% end %>
</div>
