<h1 class="yellow-text text-darken-4">Articles</h1>

<% if flash[:notice] %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %>
  <div class="row">
    <% @posts.each do |post| %>
      <%= render 'posts/post', {post: post} %>
    <% end %>
  </div>

<%= link_to 'Creer un article', new_post_path %>